<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">
            From Apprentice to Crafter. We support you in growing yourself, allow you to learn and
            graduate.
          </h1>
          <a href="#what-is-it" class="btn btn-outline btn-xl js-scroll-trigger">Discover</a>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <img src="img/demo-screen-1.jpg" class="img-fluid" alt="" width="50%">
      </div>
    </div>
  </div>
</header>
