<section class="features" id="{{page.slug}}">
  <div class="container">
    <div class="section-heading text-center">
      <h2>{{page.title}}</h2>
      <p class="text-muted">{{page.subtitle}}</p>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-4 my-auto">
        <img src="img/demo-screen-1.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 my-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="text-primary"></i>
                <h3>Device Mockups</h3>
                <p class="text-muted">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="text-primary"></i>
                <h3>Flexible Use</h3>
                <p class="text-muted">Put an image, video, animation, or anything else in the screen!</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="text-primary"></i>
                <h3>Free to Use</h3>
                <p class="text-muted">As always, this theme is free to download and use for any purpose!</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="text-primary"></i>
                <h3>Open Source</h3>
                <p class="text-muted">Since this theme is MIT licensed, you can use it commercially!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
